@import url(common.css);

* {
  margin: 0;
  box-sizing: border-box;
  transition-property: color background-color border-color text-decoration-color fill stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 3.5rem;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background-color: var(--bg-blue);
}

#header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

main {
  padding-block-start: 0;
  padding-block-end: 4rem;
  height: calc(100svh - 7.5rem);
  overflow-y: scroll;
  scrollbar-width: thin;
}

footer {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: lightgray;
  height: 4rem;
  background-color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  user-select: none;
  z-index: 100;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#footer-mid-blank {
  position: absolute;
  width: 5.1rem;
  height: 5.1rem;
  background-color: #bcbcbc;
  border-radius: 3rem;
  bottom: .425rem;
  z-index: 90;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

#footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 101;
  background-color: white;
}

.footer-item,
.header-item {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border-style: solid;
  border-width: .2rem;
  font-weight: bold;
  color: white;
  border-color: transparent;
  pointer-events: auto;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.footer-item:hover,
.header-item:hover {
  background-color: transparent;
  border-color: #9debda;
}

footer a,
header a {
  display: block;
  pointer-events: none;
}

a#fot-center-link {
  position: relative;
  bottom: 1rem;
}

.footer-item svg,
.header-item svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: #bcbcbc;
}

#fot-center-content {
  width: 5rem;
  height: 5rem;
  background-color: var(--bg-blue);
  border-color: #fff;
  border-width: .15rem;
  border-style: solid;
}

#fot-center-content svg {
  width: 2.7rem;
  height: 2.7rem;
}

#fot-center-content:hover {
  background-color: #2eaeac;
}

.footer-item:hover svg {
  fill: var(--bg-blue);
}

.notification {
  position: fixed;
  z-index: 105;
  width: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: #b78637;
  left: 10%;
  background-color: #fdf2ad;
  padding: 1rem 2rem;
  border-radius: .5rem;
  transition-property: all;
  user-select: none;
  filter: drop-shadow(.1rem .1rem .2rem gray);
  animation: notification_appearing .25s ease-out forwards;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  -webkit-filter: drop-shadow(.1rem .1rem .2rem gray);
  -webkit-animation: notification_appearing .25s ease-out forwards;
}

.notification svg {
  width: 1rem;
  position: relative;
  top: .2rem;
  margin-right: .2rem;
}

.notification p {
  color: #b88c07;
  font-weight: bold;
}

@keyframes notification_appearing {
  from {
    top: 0;
  }

  to {
    top: 3rem;
  }
}

.notification.close {
  opacity: 0;
}