/* 各divタグのheightはautoにしているのでいい感じの設定に変えてください　*/
/* font-colorも見やすいように#whiteにしていたりするのでさわやかな感じに変えてください 　*/

#user_content_card {
  height: auto;
  width: 100%;
}

#user_header_area {
  width: 100%;
  height: 6rem;
  background: linear-gradient(#e66465, #9198e5);
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-inline: 1.75rem;
  color: white;
}

.user_data {
  display: flex;
  position: relative;
  top: -1.4rem;
  justify-content: space-between;
  padding-inline: 1.75rem;
  align-items: center;
}

#user_info_area {
  height: auto;
  display: flex;
  column-gap: .3rem;
}

#user_id {
  color: gray;
  font-size: .9rem;
  font-weight: bold;
}

#user_nick_name {
  font-size: 1.1rem;
  font-weight: bold;
}

#user_icon_wrapper {
  width: 5.3rem;
  height: 5.3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f56ff7;
  border-radius: 3rem;
  overflow: hidden;
  filter: drop-shadow(.1rem .1rem .2rem #945095);
}

#user_icon {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

#user_tmp_img {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

#SPoint {
  font-size: 1.2rem;
  color: #6e5fdf;
}

#user_icon_img {
  height: 80px;
  width: auto;
  border-radius: 100%;
  padding: 10px; 
  border: solid white;
  background-color: transparent;
}

#user_QR_code {
  width: 1rem;
  height: auto;
}

#user_hobby_card {
  height: auto;
  margin-inline: 1.75rem;
  margin-block-start: 0rem;
  margin-block-end: 1rem;
  padding: .5rem 1rem;
  background: linear-gradient(#9ae6c3, #9ad6db);
  border-radius: .5rem;
  color: #2d206e;
  filter: drop-shadow(.1rem .1rem .2rem #29958c);
}

#hobby_category {
  font-weight: bold;
}

#hobby_content {
  font-weight: bold;
  padding-inline: 1rem;
  font-size: 1.2rem;
}

#Show_SPoint {
  width: 100%;
  height: auto;
  border-width: 1px 0 0 0;
  border-style: solid;
}