/* 各divタグのheightはautoにしているのでいい感じの設定に変えてください　*/
/* font-colorも見やすいように#whiteにしていたりするのでさわやかな感じに変えてください 　*/

#user_content_card {
  height: auto;
  width: 100%;
}

#user_header_area {
  width: 100%;
  height: 6rem;
  background: linear-gradient(#aaecf1, #9bdee3);
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-inline: 1.75rem;
  color: white;
}

.user_data {
  display: flex;
  position: relative;
  top: -1.4rem;
  justify-content: space-between;
  padding-inline: 1.75rem;
  align-items: center;
}

#user_info_area {
  height: auto;
  display: flex;
  column-gap: .3rem;
}

#user_id {
  color: gray;
  font-size: .9rem;
  font-weight: bold;
}

#user_nick_name {
  font-size: 1.1rem;
  font-weight: bold;
}

#user_icon_wrapper {
  width: 5.3rem;
  height: 5.3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7e50b6;
  border-radius: 3rem;
  overflow: hidden;
  /* filter: drop-shadow(0 .1rem .1rem rgb(130, 70, 131)); */
}

#user_icon {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

#user_tmp_img {
  width: 100%;
  height: 100%;
  background-color: rgb(215, 255, 241);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#user_icon_img {
  height: 80px;
  width: auto;
  border-radius: 100%;
  padding: 10px; 
  border: solid white;
  background-color: transparent;
}

#user_QR_code {
  width: 1rem;
  height: auto;
}

#user_hobby_card {
  height: auto;
  margin-inline: 1.75rem;
  margin-block-start: 0rem;
  margin-block-end: 1rem;
  padding: .5rem 1rem;
  background-color: #b7ebd3;
  border-radius: .5rem;
  color: #211560;
}

#hobby_category {
  font-weight: bold;
}

#hobby_content {
  font-weight: bold;
  padding-inline: 1rem;
  font-size: 1.2rem;
}

#Show_SPoint {
  width: 100%;
  /* height: auto; */
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}