h1,
h2 {
  display: block;
  font-size: 2.4rem;
  line-height: 1.3;
  background-image: linear-gradient(45deg, #3b56dc, #f768d3 30%, #f2bc5f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: h1grad_always 3s ease-in-out infinite both;
  animation-direction: alternate;
  background-size: 300% 300%;
  text-align: center;
}

h2 {
  background-image: linear-gradient(-45deg, #3b56dc, #f768d3 30%, #f2bc5f);
  font-size: 1.8rem;
}

@keyframes h1grad_always {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}

.main_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding-inline: 1.75rem;
  margin-top: 2rem;
}

#itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding-inline: 1.75rem;
  margin-block: 1.75rem;
}

.item {
  color: #22b4a0;
  width: 15rem;
  max-width: 80%;
  padding: 1.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 2px #8cf7e8 solid;
  border-radius: .5rem;
  filter: drop-shadow(.15rem .15rem 0 #8cf7e8);
}

.item>p {
  font-size: 1.2rem;
}

.item img {
  filter: drop-shadow(.15rem .15rem 0 #8cf7e8);
  pointer-events: none;

}

#point_icon {
  display: inline-block;
  position: relative;
  top: .2rem;
  width: 1.2rem;
  height: 1.2rem;
}

#point_icon svg {
  width: 100%;
  fill: #22b4a0;
}

.item_cost {
  color: #22b4a0;
  font-weight: bold;
  font-size: 1.3rem;
  margin-block: .5rem;
}

button {
  appearance: none;
  border-style: solid;
  border-width: 2px;
  padding: .3rem 1.5rem;
  background-color: #2dd3d0;
  border-color: #2dd3d0;
  border-color: #269b99;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin-inline: 1.75rem;
}

button:hover {
  background-color: #269b99;
}

.quest_box {
  padding: 1rem 2rem;
  margin-block: 1rem;
  margin-inline: 1.75rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.pos_box {
  display: flex;
  background-color: rgb(255, 242, 254);
  flex-direction: column;
  padding-block: 1.5rem;
  gap: 1rem;
  margin-inline: 1.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.pos_box>div {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.pos_box input {
  width: 4rem;
}

input {
  display: block;
  appearance: none;
  border-style: solid;
  border-width: 0 0 .125rem 0;
  padding: .2rem 1.25rem;
  border-radius: 0;
  font-size: 1.2rem;
  width: min(80%, 30rem);
  border-color: gray;
  background-color: transparent;
}

input:hover {
  outline: none;
  border-color: #2dd3d0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: none;
}


.link_button_over {
  pointer-events: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.link_button_over div {
  display: inline-block;
  margin-block: 1rem;
  pointer-events: auto;
  padding: .5rem 1.5rem;
  color: white;
  background-color: #435ee6;
  border-style: solid;
  border-color: #2b41ad;
  border-width: .15rem;
  text-align: center;
  border-radius: 100vw;
  font-weight: bold;
}

.link_button_over div:hover {
  background-color: #2b41ad;
}

#user_content_card {
  height: auto;
  width: 100%;
  margin-block: 1.5rem;
}

#user_header_area {
  width: 100%;
  height: 6rem;
  background: linear-gradient(#aaecf1, #9bdee3);
  /* justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: end; */
  position: relative;
  color: white;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}