.id_form,
.sp_form,
.qr_nav {
  width: 100%;
  display: flex;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.qr_nav {
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.id_form input {
  display: block;
  appearance: none;
  border-style: solid;
  border-width: 0 0 .125rem 0;
  padding: .5rem 1.25rem;
  border-radius: 0;
  font-size: 1.2rem;
  width: min(80%, 30rem);
  border-color: gray;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.sp_form textarea {
  display: block;
  min-height: 10rem;
  max-height: calc(100vh - 25rem);
  appearance: none;
  border-style: solid;
  padding: .5rem 1rem;
  border-radius: 0;
  font-size: 1.2rem;
  width: min(80%, 30rem);
  field-sizing: content;
  border-color: gray;
  border-width: 0 0 .125rem 0;
  resize: vertical;
  background-color: #f5f5f5;
  border-radius: .3rem .3rem 0 0;
  -webkit-border-radius: .3rem .3rem 0 0;
  -moz-border-radius: .3rem .3rem 0 0;
  -ms-border-radius: .3rem .3rem 0 0;
  -o-border-radius: .3rem .3rem 0 0;
}

.id_form input:hover,
.id_form input:focus,
.sp_form textarea:hover,
.sp_form textarea:focus {
  outline: none;
  border-color: #2dd3d0;
}

button {
  appearance: none;
  border-style: solid;
  border-width: 2px;
  padding: .3rem 1.5rem;
  background-color: #2dd3d0;
  border-color: #269b99;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

button:hover {
  background-color: #269b99;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: none;
}

#overlay {
  position: fixed;
  width: 90svw;
  height: 70svh;
  top: 15vh;
  left: 5vw;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #cdf6f6;
  color: #1b5d5c;
  border-radius: 1rem;
  border: #1b5d5c 3px solid;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition-property: all;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.open#overlay {
  opacity: 1;
  pointer-events: all;
}

.close#overlay {
  opacity: 0;
  pointer-events: none;
}

#qrcode {
  padding: 1.2rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#canvas {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

#myid {
  position: absolute;
  left: 1.75rem;
  top: 3.5rem;
}