.id_form,
.sp_form {
  width: 100%;
  display: flex;
  margin-block: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.id_form input {
  display: block;
  appearance: none;
  border-style: solid;
  border-width: 0 0 .125rem 0;
  padding: .5rem 1.25rem;
  border-radius: 0;
  font-size: 1.2rem;
  width: min(80%, 30rem);
  border-color: gray;
}

.sp_form textarea {
  display: block;
  min-height: 10rem;
  max-height: calc(100vh - 25rem);
  appearance: none;
  border-style: solid;
  padding: .5rem 1rem;
  border-radius: 0;
  font-size: 1.2rem;
  width: min(80%, 30rem);
  field-sizing: content;
  border-color: gray;
  border-width: 0 0 .125rem 0;
  resize: vertical;
  background-color: #f5f5f5;
  border-radius: .3rem .3rem 0 0;
}

.id_form input:hover,
.id_form input:focus,
.sp_form textarea:hover,
.sp_form textarea:focus {
  outline: none;
  border-color: #2dd3d0;
}

.sp_form #sp_submit_button {
  appearance: none;
  border-style: solid;
  border-width: 2px;
  padding: .3rem 1.5rem;
  background-color: #2dd3d0;
  border-color: #2dd3d0;
  border-color: #269b99;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sp_form #sp_submit_button:hover {
  background-color: #269b99;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: none;
}