#main_title_container {
    height: auto;
    width: auto;
    padding: 15px;
}

#content_container {
    margin: 0px 20px 0px 20px;
    width: auto;
    height: auto;
}

#page_title {
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-weight: bold;
}

#first_user_card_container {
    margin-top: 10px;
}

.user_card_container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}

.user_icon {
    height: 60px;
    border-radius: 100%;
    width: auto;
    padding: 8px;
    border: solid rgb(232, 232, 232);
}