#searched_user_card_area {
    height: auto;
    margin: 0px 20px 0px 20px;
}

h3 {
    background-color: red;
}

.user_card_container {
    background-color: rgb(255, 255, 255);
    border: solid rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}

.user_icon {
    height: 60px;
    border-radius: 100%;
    width: auto;
    padding: 8px;
    border: solid rgb(232, 232, 232);
}
 